<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Mobiz-Advanced-Game-Console-User-Interface</title>
    <link rel="stylesheet" href="css/tv.css">
    <link rel="stylesheet" id="css" href="css/default.css">
    <link rel="stylesheet" id="css" href="../assets/woff2/fonts.css">
</head>

<body>
    <section id="gridnavs">
        <div id="clockandgreetings">
            <h3 id="greet">Press any key to start.</h3>
            <h1 id="span">12:00</h1>
            <h3 id="wttr">Getting latest weather information...</h3>
        </div>
        <div id="controlshelp" style="display: none;">
            <b>WASD</b> Move
            <b>Space</b> Select
            <b>Esc</b> Exit
        </div>
        <ul class="gridnav" id="links" data-amount="5" data-element="button" style="display: none;">



        </ul>
    </section>

    <script src="../script/gridnav.js"></script>
    <script src="../script/tv.js"></script>

    <script>
        document.querySelector('#gridnavs').
            addEventListener('click', function (ev) {
                ev.preventDefault();
            }
            );

        setTimeout(function () {
            document.getElementById('clockandgreetings').style.marginTop = 0;
            document.getElementById('greet').innerText = `Welcome back, ${require("os").userInfo().username}!`;

            setTimeout(function () {
                document.getElementById('links').style.display = 'block'
                document.getElementById('controlshelp').style.display = 'block'
                document.querySelector("button").focus();
            }, 1000);
        }, 1000)

        fetch('https://wttr.in/?format=3')
            .then((response) => response.text())
            .then((text) => {
                document.getElementById('wttr').innerText = text;
            });

        var span = document.getElementById('span');

        function time() {
            var d = new Date();
            var s = d.getSeconds();
            var m = d.getMinutes();
            var h = d.getHours();
            span.textContent =
                (" ") + ("0" + h).substr(-2) + ":" + ("0" + m).substr(-2);
        };

        setInterval(time)
    </script>

</body>

</html>